@font-face {
  font-family: inter;
  src: url("/fonts/Inter.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: roboto;
  src:
    local("Roboto"),
    url("/fonts/Roboto.ttf") format("TrueType");
  font-display: swap;
}

@font-face {
  font-family: bebas neue;
  src:
    local("Bebas Neue"),
    url("/fonts/BebasNeue-Regular.ttf") format("TrueType");
  font-display: swap;
}

:root {
  --blue: #50aaff;
  --primary-color: #0078d7;
  --secondary-color: #102e55;
  --complementary-color: #c54516;
  --complementary-gradient-start: #e78f0c;
  --complementary-color-gradient: linear-gradient(40deg, var(--complementary-color) 10%, var(--complementary-gradient-start) 90%);
  --card-bg: #f3f3f3;
  --card-text: #666666;

  --border-round: 15px;
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: black;
  font-family: inter;
  scroll-behavior: smooth;
}

h1 {
  font-family: bebas neue, Calibri;
}

body {
  margin: 0;
  background-color: white;
  padding-top: 10vh;
}

#topSlider {
  display: flex;
  justify-content: center;
}
#topSlider > * {
  width: 40%;
}

#topLeft {
  padding-top: 4em;
  font-size: 2em;
  position: relative;
  right: 0;
}
#topLeft > * {
  margin: 0;
}
#topLeft > h1 {
    position: relative;
    paint-order: stroke fill;
    -webkit-text-stroke: 15px white;
}
#topLeft > h1::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -40px;
    height: 80px;
    aspect-ratio: 1;
    z-index: -1;
    background: url("/assets/cog.svg") no-repeat center;
    background-size: cover;
    animation: spin 10s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#topLeft > h2 {
  margin-left: 0.6em;
  opacity: 0.6;
}

#topRight {
  /* magické číslo final boss */
  perspective: 900px;
  aspect-ratio: 1;
}
#frameParent {
  transform: rotate3d(1, -1, 0.5, 35deg);
  position: relative;
  top: -20%;
  height: 100%;
  width: 100%;
  border-radius: var(--border-round);
  overflow: hidden;
}
#frameParent:hover > #frameTimer {
  opacity: 0;
}
#frameTimer {
  width: calc(100% + 2px);
  height: 6px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background: linear-gradient(90deg, var(--blue) 50%, #00000000 50%);
  background-size: 200%;
}
#frameParent > iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

#whatWeOffer {
  font-size: 3rem;
  padding-left: 10%;
}

#services {
  width: 100vw;
  margin-top: 4rem;

  & > h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: var(--secondary-color);
  }

  & > * {
    margin: 0 4rem;
  }

  & > *:not(:first-child) {
    margin-top: 4rem;
  }
}

#card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  align-items: start;
}

.card {
  box-shadow: 10px 10px 25px #00000022;
  border-radius: var(--border-round);
  overflow: hidden;

  & > div {
    padding: 1.5rem;
  }

  & > hr {
    border: none;
    border-top: 2px solid var(--secondary-color);
    margin: 0;
  }

  & h2 {
    font-family: bebas neue, Calibri;
    font-size: 2rem;
    color: var(--secondary-color);
    margin: 0;
    text-align: center;
  }
}

.card-header {
  background-color: var(--card-bg);
}

.card-body {
  /* background-color: var(--card-bg); */
}

.card-body {
  & > p, & > h3, & > a {
    font-size: 1.1rem;
    margin: 0;
  }

  & > p {
    color: var(--card-text);
    text-align: justify;
  }

  & > h3 {
    color: var(--secondary-color);
  }

  & > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.product-pricing {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.product {
  margin: 10px;
  padding: 10px;
}
.even {
  background-color: #ececec;
}
.product-card {
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 260px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.product-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #000;
    align-items: center;
}
.product-card-body {
    margin: 10px;
    height:auto;
    font-size: 1.2em;
    color: black;
}
.product-card-price {
    font-weight: bold;
    margin-bottom: 10px;
    color: #0202d2;
}
.product-card-body ul {
    list-style-type: none;
    padding-left: 0;
    color: black;
}
.product-card-body .include::before{
    content: "✔";
    color: green;
    margin-right: 5px;
}
.product-card-body .exclude::before{
    content: "✘";
    color: red;
    margin-right: 5px;
}
.pricing-header {
    text-align: center;
    margin: 20px 0 0 0;
    gap: 0;
}
.pricing-header h2 {
    font-size: 2.5em;
    margin: 0;
}
.pricing-header p {
    font-size: 1.2em;
    margin: 5px 0 20px 0;
    color: #555;
}

.pricing-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.0em;
}

.product-description {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.0em;
    color: #333;
    margin-top: 10px;
}

.product-description ul {
    list-style-type: none;
    padding-left: 0;
    color: black;
}

@media (max-width: 1200px) {
  #card-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-body {
    & > p {
      text-align: left;
    }
  }

  .product-pricing {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.learn-more-container {
  display: flex;
  flex-direction: row-reverse;
}

a.learn-more {
  text-decoration: none;
  background: var(--complementary-color-gradient);
  padding: 1rem;
  border-radius: var(--border-round);

  & > span {
    display: inline-block;
    font-weight: bold;
    color: white;

    &::after {
      content: " ↗";
    }
  }
}

#scroll {
  height: 3000px;
}
