@font-face {
  font-family: inter;
  src: url("/fonts/Inter.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: roboto;
  src:
    local("Roboto"),
    url("/fonts/Roboto.ttf") format("TrueType");
  font-display: swap;
}

@font-face {
  font-family: bebas neue;
  src:
    local("Bebas Neue"),
    url("/fonts/BebasNeue-Regular.ttf") format("TrueType");
  font-display: swap;
}

:root {
  --blue: #50aaff;
  --bg-color: #ffffff;
  --primary-color: #0078d7;
  --secondary-color: #102e55;
  --complementary-color: #c54516;
  --complementary-gradient-start: #e78f0c;
  --complementary-color-gradient: linear-gradient(40deg, var(--complementary-color) 10%, var(--complementary-gradient-start) 90%);
  --card-bg: #f3f3f3;
  --text-muted: #666666;
  --shadow-color: #00000022;

  --border-round: 15px;
  --services-margin: 4rem;
  --card-columns: repeat(3, 1fr);

  @media (prefers-color-scheme: dark) {
    --bg-color: #222233;
    --secondary-color: var(--blue);
    --card-bg: #333344;
    --text-muted: #aaaaaa;
    --shadow-color: #aaaaaa22;

    #topLeft > h1::before {
        filter: invert(1);
    }
  }

  @media (max-width: 1200px) {
    --services-margin: 3rem;
    --card-columns: repeat(2, 1fr);
  }

  @media (max-width: 700px) {
    --services-margin: 2rem;
    --card-columns: repeat(1, 1fr);
  }
}

html {
  font-size: 100%;
  color: black;
  font-family: inter;
}

h1 {
  font-family: bebas neue, Calibri;
}

h2 {
  color: var(--text-muted)
}

body {
  background-color: var(--bg-color);
  padding-top: 10vh;
}

#topSlider {
  display: flex;
  justify-content: center;
}
#topSlider > * {
  width: 40%;
}

#topLeft {
  padding-top: 4em;
  font-size: 2em;
  position: relative;
  right: 0;
}
#topLeft > * {
  margin: 0;
}
#topLeft > h1 {
  color: var(--secondary-color);
  position: relative;
  paint-order: stroke fill;
  -webkit-text-stroke: 15px var(--bg-color);
}
#topLeft > h1::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -40px;
    height: 80px;
    aspect-ratio: 1;
    z-index: -1;
    background: url("/assets/cog.svg") no-repeat center;
    background-size: cover;
    animation: spin 10s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#topLeft > h2 {
  margin-left: 0.6em;
  opacity: 0.6;
}

#topRight {
  /* magické číslo final boss */
  perspective: 900px;
  aspect-ratio: 1;
}
#frameParent {
  transform: rotate3d(1, -1, 0.5, 35deg);
  position: relative;
  top: -20%;
  height: 100%;
  width: 100%;
  border-radius: var(--border-round);
  overflow: hidden;
}
#frameParent:hover > #frameTimer {
  opacity: 0;
}
#frameTimer {
  width: calc(100% + 2px);
  height: 6px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background: linear-gradient(90deg, var(--blue) 50%, #00000000 50%);
  background-size: 200%;
}
#frameParent > iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

#whatWeOffer {
  font-size: 3rem;
  padding-left: 10%;
}

#services {
  width: 100%;
  margin-top: 4rem;

  & > h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: var(--secondary-color);
  }

  & > * {
    margin: 0 var(--services-margin);
  }

  & > *:not(:first-child) {
    margin-top: var(--services-margin);
  }
}

#card-holder {
  display: grid;
  grid-template-columns: var(--card-columns);
  gap: var(--services-margin);
  align-items: start;
}

.card {
  box-shadow: 10px 10px 25px var(--shadow-color);
  border-radius: var(--border-round);
  overflow: hidden;

  & > div {
    padding: 1.5rem;
  }

  & > hr {
    border: none;
    border-top: 2px solid var(--secondary-color);
    margin: 0;
  }

  & h2 {
    font-family: bebas neue, Calibri;
    font-size: 2rem;
    color: var(--secondary-color); 
    margin: 0;
    text-align: center;
  }
}

.card-header {
  background-color: var(--card-bg);
} 

.card-body {
  & > p, & > h3, & > a {
    font-size: 1.1rem;
    margin: 0;
  }

  & > p {
    color: var(--text-muted);
    text-align: justify;
  }

  & > h3 {
    color: var(--secondary-color);
  }

  & > *:not(:first-child) {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .card-body {
    & > p {
      text-align: left;
    }
  }
}

.learn-more-container {
  display: flex;
  flex-direction: row-reverse;
}

a.learn-more {
  text-decoration: none;
  background: var(--complementary-color-gradient);
  padding: 1rem;
  border-radius: var(--border-round);

  & > span {
    display: inline-block;
    font-weight: bold;
    color: white;

    &::after {
      content: " ↗";
    }
  }
}

#scroll {
  height: 3000px;
}